---
- name: Configure target box
  hosts: ip-10-0-0-217

  tasks:
  - name: Ensure cowsay is installed
    become: yes
    ansible.builtin.package:
      name: cowsay
      state: absent
  - name: Copy the test file
    ansible.builtin.copy:
      src: './rsc/test-file.txt'
      dest: '{{ test_file_path }}'
      owner: '{{ ansible_env.USER }}'
      group: '{{ ansible_env.USER }}'
      mode: '0644'
  - name: Add line to test file
    ansible.builtin.lineinfile:
      path: '{{ test_file_path }}'
      line: '{{ test_var }}'